nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 150px;
    justify-content: space-between;
    background: rgba(31, 46, 53, 1);
    color: #fff;
    .nav-box{
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 700;
        line-height: 28px;
       

    }
    ul{
        display: flex;
        gap: 30px;
        a{
            color:#fff;
        }
       
    }
    .nav-item{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .btn{
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid;
        background: rgba(31, 46, 53, 1);
        color:#fff;
    }
    .btn1{
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
        background: rgba(2, 137, 122, 1);
        color:#fff;

    }
    span{
        display: none;
    }
    
}

@media (max-width: 1230px) {
    nav{
        .btn{
            display: none;
        }
        .btn1{
            display: none;
        }
        ul{
            display: none;
        }
        .img1{
            display: none;
        }
        span{
            display: block;
            font-size: 30px;
        }
    }
}



